{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Корзина{% endblock %}

{% block page_content %}
    <button id="cart-selection" class="active-btn-in-cart">Корзина</button>
    <button id="order-selection">Заказ</button>
    <button id="thanks-selection">Подтверждение</button><br>

     {% for product in cart.products_in_cart.all %}
        Товар: {{ product.product.title }}<br>
        Количество: {{ product.quantity }}<br>
        Цена за единицу:{{ product.product.price }}<br>
        Всего за товар: {{ product.cost_of_products }}<br>
        </br></br></br>
    {% endfor %}

    {% if cart.total_price == 0 %}
        Корзина пуста<br>
    {% endif %}

    Всего: {{ cart.total_price }}р.
    </br></br>

    <a href="/" id="return_to_catalog">Обратно к каталогу</a>
    <form action="{% url "cart:order" %}" method="get" class="form">{% csrf_token %}
        <button class="button" id="order-create">Оформить заказ</button>
    </form>

{% endblock %}